[submodule "vendor/magit"]
	path = vendor/magit
	url = git://gitorious.org/magit/mainline.git
[submodule "vendor/muse"]
	path = vendor/muse
	url = git://repo.or.cz/muse-el.git
[submodule "vendor/anything-config"]
	path = vendor/anything-config
	url = git://repo.or.cz/anything-config.git
[submodule "vendor/gist-el"]
	path = vendor/gist-el
	url = git://github.com/defunkt/gist.el.git
[submodule "vendor/emms"]
	path = vendor/emms
	url = git://git.sv.gnu.org/emms.git
[submodule "vendor/n3-mode"]
	path = vendor/n3-mode
	url = git://github.com/kurtjx/n3-mode-for-emacs.git
